body {
    background-color: palegoldenrod;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 72pt;
}

.blink-me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

ul li {
    font-size: 42pt;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}